<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${contact.id} == null">Save contacts</title>
    <title th:if="${contact.id} != null">Update contacts</title>
</head>
<body>
<h1 th:if="${contact.id} == null">Save contacts</h1>
<h1 th:if="${contact.id} != null">Update contacts</h1>
<form action="/contact/update" method="post">
    <input type="hidden" name="id" th:value="${contact.id}">
    <div>
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" required th:value="${contact.firstName}">
    </div>
    <div>
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" required th:value="${contact.lastName}">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required th:value="${contact.email}">
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" required th:value="${contact.phone}">
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>